@import "vars.scss";

.ui.modal {
  > .header {
    font-family: $secondary-font !important;
    border-bottom: none !important;

    &:not(.ui) {
      font-weight: 100 !important;
      font-size: 1.6em !important;
    }
  }

  .actions {
    display: flex;
    border-top: none !important;

    > .red-button,
    .yellow-button,
    .gray-button {
      border: none;
      font-family: inherit;
      font-size: 20px;
      margin: 0;
    }

    .grow {
      flex-grow: 1;
    }
  }

  .config-entry {
    margin-bottom: 10px;
    font-size: 1.5em;
    display: flex;
    align-items: center;

    > div {
      width: 40%;

      &:last-child {
        display: flex;
        align-items: center;

        input {
          border: 2px $darkblue solid;
          padding: 5px 10px;
          color: $darkblue;
          font-size: 15px;
          border-radius: 10px;
          margin-left: 5px;
          width: 100px;

          &:focus {
            outline: none;
          }
        }
      }
    }

    label {
      margin-left: 5px;
    }
  }
}
