@import "vars.scss";

.ui.modal {
  > .header {
    font-family: $secondary-font !important;
    border-bottom: none !important;

    &:not(.ui) {
      font-weight: 100 !important;
      font-size: 1.6em !important;
    }
  }

  .actions {
    display: flex;
    border-top: none !important;

    > .red-button,
    .yellow-button,
    .gray-button {
      border: none;
      font-family: inherit;
      font-size: 20px;
      margin: 0;
    }

    .grow {
      flex-grow: 1;
    }
  }

  .config-entry {
    margin-bottom: 10px;
    font-size: 1.5em;
    display: flex;
    align-items: center;

    &.disabled {
      color: $gray;

      > div:last-child input {
        border: 2px $gray solid;
        color: $gray;
      }
    }

    > div {
      width: 50%;
      display: flex;
      align-items: center;

      &:last-child {
        span {
          min-width: 90px;
        }

        input {
          border: 2px $darkblue solid;
          padding: 5px 10px;
          color: $darkblue;
          font-size: 15px;
          border-radius: 10px;
          margin-left: 5px;
          width: 100px;

          &:focus {
            outline: none;
          }
        }
      }
    }

    label {
      margin-left: 5px;
    }
  }

  .stats-entry {
    font-size: 1.5em;

    &.top {
      span {
        color: $red;
      }
    }
    span {
      display: inline-block;
      width: 200px;
    }
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 23px;
  margin-right: 10px;
  margin-top: 5px;

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  input:checked + .slider {
    background-color: #2196f3;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }
}
