@import "vars.scss";

.gameoverview {
  .gameoverview-content {
    a {
      border-radius: 10px;
      width: 30%;
      height: 200px;
      margin: 10px 3% 10px 0;
      display: inline-block;
      position: relative;
      overflow: hidden;

      &:hover {
        img {
          transform: scale(1.05);
          transition: 0.2s;
        }

        div span {
          padding: 25px;
          transition: 0.2s;
          transform: rotate(3deg) translatey(6px);
        }
      }

      img {
        height: 100%;
        width: auto;
        transition: 0.2s;
      }

      div {
        cursor: pointer;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;

        span {
          transition: 0.2s;
          padding: 20px;
          background-color: $red;
          transform: rotate(0deg);
          position: absolute;
          bottom: 0;
          width: 100%;
        }

        p {
          font-size: 2em;
          position: absolute;
          bottom: 7px;
          width: 100%;
          text-align: center;
          color: $yellow;
        }
      }
    }
  }
}
