// colours
$red: #e72e2e;
$darkred: #c42727;
$yellow: #e7e02e;
$darkyellow: #d5cf2a;
$blue: #6db6e3;
$darkblue: #00426c;
$white: #ffffff;
$gray: #aeaeae;
$darkgray: #959595;
$black: #242424;

// fonts
$primary-font: "PlayTimeBold";
$secondary-font: "Berlin Sans FB";
