@import "vars.scss";

form {
  input {
    background-color: $yellow;
    border: 3px solid $red;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 2em;
    font-family: $secondary-font;
    display: block;
    width: 300px;
    margin-bottom: 15px;

    &:focus {
      outline: none;
    }
  }

  button {
    background-color: $red;
    color: $yellow;
    border: none;
    border-radius: 10px;
    padding: 10px 25px;
    margin: 0 10px 20px 0;
    cursor: pointer;
    font-family: $secondary-font;
    font-size: 2em;

    &:hover {
      background-color: $darkred;
    }
  }
}

.error-message {
  margin-bottom: 1em;
  color: $red;
}
